<table class="table table-bordered border border-primary mt-3">
    <caption align="top" class="bg-light p-2">DANH SÁCH NHÂN VIÊN</caption>
    <tr>
        <th> id </th>
        <th> Họ tên</th>
        <th> Ngày sinh </th>
        <th> Phái</th>
        <th> Khu vực</th>
        <th> Hành động</th>
    </tr>
    <tr *ngFor="let nv of nhanvien">
        <td> {{nv.id}} </td>
        <td> {{nv.ho}} {{nv.ten}}</td>
        <td> {{nv.ngaysinh | date:'dd/MM/yyyy'}}</td>
        <td> {{nv.phai}}</td>
        <td> {{nv.khuvuc}}</td>
        <td>
            <button class="btn btn-warning" (click)="xoaNhanVien(nv.id)">Xóa</button>
            <button class="btn btn-warning" [routerLink]="['/leader/nv-sua', nv.id]">Sửa</button>
        </td>
    </tr>
</table>